body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_menu ul {
    text-align: center;
    word-spacing: 50px;
}

.main_menu li {
    display: inline;
}

.main_menu a {
    color: #fff;
    text-decoration: none;
}

.main_menu a:hover {
    color: #E67E22;
    text-decoration: underline;
}

.wrapper {
    width: auto;
    height: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #4A235A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branding {
    width: 500px;
    height: 50px;
    background-color: #6E2C00;
}

.main_menu {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 25px 0 25px 0;
    z-index: 1;
}

.main_menu::before, .main_menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -1;
}

.container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.heading {
    position: absolute;
    width: 466px;
    padding: 5px;
    text-align: center;
    background-color: #6E2C00;
}

#h1, #h2 {
    top: 0;
    left: 30px;
}

#h3, #h4 {
    top: 0;
    left: 40%;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 15px;
    background-color: #3498DB;
}

#content1, #content2, #content3 {
    height: 420px;
}

#content4 {
    width: 880px;
    height: 420PX;
}

.image {
    position: absolute;
    background-color: #145A32;
}

#image1 {
    width: 466px;
    height: 200px;
}

#image2 {
    top: 25px;
    right: 25px;
    width: 416px;
    height: 370px;
}

#image3 {
    top: 0;
    left: 25px;
    width: 500px;
    height: 500px;
}
